@import url(http://fonts.googleapis.com/css?family=Copse);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,900italic);

.ss-choices {
	font-weight:300;
}

.ss-form-entry {
	margin-bottom:10px;
}

.ss-navigate {
	font-family: Copse;
	font-size: 40px;
	border: hidden;
	padding: 0px;
}

.ss-q-short {
	border:dotted 1px;
	font-family: Lato;
	font-size: 18px;
	font-weight: 300;
	height: 25px;
	width: 350px;
	margin-top: 10px;
}

.ss-q-title {
	font-family: Copse;
	font-size: 40px;
}


.ss-secondary-text {
	font-weight: 300;
	padding: 0px;
	margin-bottom: 10px;
}

body, img {
	font-family: Lato, Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

footer {
	margin-top: 30px;
	margin-bottom: 40px;
	font-family: Lato;
	font-style: italic;
	font-size: 15px;
	font-weight: 300;
	color: #666;
	text-align: center;
}

ul {
	list-style-type:none;
}

@media print, screen and (max-width: px) {
}

@media print, screen and (max-width: px) {
}

@media print, screen and (max-width: px) {
}

@media print {
}