@import url(http://fonts.googleapis.com/css?family=Copse);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,900italic);

#content {
	border: #999 dashed 3px;
	padding: 10px;
}

body, img {
	font-family: "Copse", Lato, Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

qr {
	font-size: 20px;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 40px;
}

footer {
	margin-top: 30px;
	margin-bottom: 60px;
	font-family: Lato;
	font-style: italic;
	font-size: 30px;
	font-weight: 300;
	color: #666;
	text-align: center;
}

ul {
	list-style-type:none;
	
}

@media print, screen and (min-width: px) {
}

@media print, screen and (min-width: px) {
}

@media print, screen and (min-width: px) {
}

@media print {
}